<!--index.html-->
<!DOCTYPE html>
<html>

<head>
    <title>Flask with matplotlib</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
    function drawGraph(obj) {
        var idx = obj.selectedIndex;
        var value = obj.options[idx].value;
        var plotdata = document.getElementById('plotimg');
        $.get("/archive/plot/" + value, function(data) {
            plotdata.src = "data:image/png:base64," + data;
        });
    };
    $(document).ready(function() {
        //initialize components
        var target = document.getElementById('selector');
        drawGraph(target);
    });
    </script>
</head>

<body>
    <h1>Plot Graph</h1>
    <div>
        <p>select a function</p>
        <select id=selector onchange="drawGraph(this)">
            <option value="sin">sin</option>
            <option value="cos" selected>cos</option>
            <option value="tan">tan</option>
        </select>
    </div>
    <br/>
    <img id=plotimg></img>
</body>

</html>
